
set ns [new Simulator]
source tb_compat.tcl

# Change this to a number of nodes you want
set NODES 5

# we need a control host to anchor the tests
set control [$ns node]
tb-set-node-startcmd $control "sudo /users/[[DETER_USER]]/DETERLabTesting/bootstrap"

set node(0) [$ns node]
tb-set-node-startcmd $node(0) "sudo /users/[[DETER_USER]]/DETERLabTesting/bootstrap"

for {set i 1} {$i < $NODES} {incr i} {
    set node($i) [$ns node]
    tb-set-node-startcmd $node($i) "sudo /users/[[DETER_USER]]/DETERLabTesting/bootstrap"
    set lastindex [expr $i-1]

    # Change BW and delay if you want
    set Link$i [$ns duplex-link $node($i) $node($lastindex) 100Mb 0ms DropTail]
}

set lastindex [expr $i-1]

# Change BW and delay if you want
set Link$i [$ns duplex-link $node(0) $control 100Mb 0ms DropTail]
set i [expr $i+1]
set Link$i [$ns duplex-link $control $node($lastindex) 100Mb 0ms DropTail]

$ns rtproto Static
$ns run

